.country-growth {
  margin: 30px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    margin: 30px 0 0;
  }
}

.country-growth__title {
  width: 197px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  text-wrap: nowrap;
}

.country-growth__list {
  padding: 0;
  margin: 20px 0 0;
}

.country-growth__item {
  list-style: none;
  height: 24px;
  display: flex;
}

.country-growth__item:not(:last-child) {
  margin: 0 0 20px;
}

.country-growth__input {
  position: relative;
  width: 42px;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border-radius: 20px;
  margin: 0;
  transition: 0.2s;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='24' viewBox='0 0 42 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='42' height='24' rx='12' fill='%23bdbdbd'/%3E%3Ccircle cx='12' cy='12' r='10' fill='white'/%3E%3C/svg%3E%0A");
}

.country-growth__input:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='24' viewBox='0 0 42 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='40' height='22' rx='11' fill='%237859CF' fill-opacity='0.25' stroke='%239070ec' stroke-width='2'/%3E%3Ccircle cx='12' cy='12' r='10' fill='white'/%3E%3C/svg%3E%0A");
}

.country-growth__input:focus {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='24' viewBox='0 0 42 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='40' height='22' rx='11' fill='%237859CF' fill-opacity='0.25' stroke='%239070ec' stroke-width='2'/%3E%3Ccircle cx='12' cy='12' r='10' fill='white'/%3E%3C/svg%3E%0A");
}

.country-growth__input:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='24' viewBox='0 0 42 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='42' height='24' rx='12' fill='%237859CF'/%3E%3Ccircle cx='30' cy='12' r='10' fill='white'/%3E%3C/svg%3E%0A");
}

.country-growth__input:disabled:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='24' viewBox='0 0 42 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='42' height='24' rx='12' fill='%23#e2e2e2'/%3E%3Ccircle cx='30' cy='12' r='10' fill='%23bdbdbd'/%3E%3C/svg%3E%0A");
}

.country-growth__label {
  margin: 0 0 0 10px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.country-growth__input:disabled,
.country-growth__input:disabled + .country-growth__label {
  opacity: 0.4;
}
