.country-growth {
  margin: 30px 0 0;

  @media (min-width:$tablet-width) {
    margin: 0;
    width: 223px;
  }

  @media (min-width:$desktop-width) {
    margin: 30px 0 0;
  }
}

.country-growth__title {
  width: 197px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  text-wrap: nowrap;
}

.country-growth__list {
  padding: 0;
  margin: 20px 0 0;
}

.country-growth__item {
  list-style: none;
  height: 24px;
  display: flex;
}

.country-growth__item:not(:last-child) {
  margin: 0 0 20px;
}

.country-growth__input {
  position: relative;
  width: 42px;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border-radius: 20px;
  margin: 0;
  transition: 0.5s;
  background: no-repeat  #BDBDBD;
  background-position-y: center;
  background-position-x:3px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='white'/%3E%3C/svg%3E%0A");
}

.country-growth__input:checked {
  background-color: #7859CF;
  background-position-x:19px;
}

.country-growth__label {
  margin: 0 0 0 10px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.country-growth__input:disabled,
.country-growth__input:disabled+.country-growth__label {
  opacity: 0.4;
}

