.presence-milk {
  margin: 30px 0 0;
  min-height: 200px;

  @media (min-width:$tablet-width) {
    margin: 0;
    width: 220px;
  }

  @media (min-width:$desktop-width) {
    margin: 30px 0 0;
  }
}

.presence-milk__title {
  width: 144px;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  color: #333333;
}

.presence-milk__list {
  padding: 0;
  margin: 20px 0 0 0;
}

.presence-milk__item {
  list-style: none;
  height: 24px;
  display: flex;
}

.presence-milk__item:not(:last-child) {
  margin: 0 0 20px;
}

.presence-milk__input {
  margin: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: -1;
  opacity: 0;

}

.presence-milk__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.presence-milk__input+.presence-milk__label {
  display: inline-flex;
  align-items: center;
  user-select: none;

}

.presence-milk__input+.presence-milk__label::before {
  transition: 0.5s;
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 10px 0 0;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' fill='white' stroke='%23BDBDBD' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.presence-milk__input:disabled+.presence-milk__label {
  opacity: 0.4;
}

.presence-milk__input:checked+.presence-milk__label::before {
  transition: 0.5s;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' fill='white' stroke='%237859CF' stroke-width='2'/%3E%3Ccircle cx='12' cy='12' r='8' fill='%237859CF'/%3E%3C/svg%3E%0A");
}

