.price__old {
  width: 40px;
  margin: auto 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #7859CF;
  text-decoration: line-through;

}

.price__new {
  width: 51px;
  margin: auto 0 auto 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.price__button {
  width: 113px;
  height: 40px;
  border: none;
  padding: 0;
  margin: 0 0 0 20px;
  background-color: #7859CF;
  color: #fff;
  border-radius: 5px;
}

.price__button > p {
  font-weight: 400px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
