.slider__button {
  width: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  transition: 1.5s;


  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

.slider__button-back:hover {
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider__button-next:hover {
  background: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider__button-back:focus {
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  outline: none;
}

.slider__button-next:focus {
  background: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  outline: none;
}

.slider__button-back:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider__button-next:active {
  background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider__button-back::before {
  visibility: visible;
  margin: auto;
  width: 20px;
  height: 20px;
  display: block;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.7166 0L15 1.32082L6.56677 10L15 18.6792L13.7166 20L4 10L13.7166 0Z' fill='%237859CF'/%3E%3C/svg%3E%0A");
}

.slider__button-back:disabled::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.7166 0L15 1.32082L6.56677 10L15 18.6792L13.7166 20L4 10L13.7166 0Z' fill='%23bdbdbd'/%3E%3C/svg%3E%0A");
}

.slider__button-next::before {
  visibility: visible;
  margin: auto;
  width: 20px;
  height: 20px;
  display: block;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.28339 0L5 1.32082L13.4332 10L5 18.6792L6.28339 20L16 10L6.28339 0Z' fill='%237859CF'/%3E%3C/svg%3E%0A");
}

.slider__button-next:disabled::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.28339 0L5 1.32082L13.4332 10L5 18.6792L6.28339 20L16 10L6.28339 0Z' fill='%23bdbdbd'/%3E%3C/svg%3E%0A");
}

.slider__container {
  display: inline-flex;
  width: 280px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 608px;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
  }
}

.slider__main {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 608px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1280px;
  }
}

.slider__main > br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__main--hidden {
  display: none;
}

.slider__main--visibles {
  display: block;
}

.slider__img {
  margin: 20px auto 0;
  display: inline-block;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 352px;
    margin: 0;
    right: 0;
    left: 0;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    top: unset;
    right: unset;
    left: unset;
    margin: 30px 0 0 25px;
  }
}

.slider__text {
  margin: 10px auto 0;
  width: 74px;
  text-transform: uppercase;
  color: #7859cf;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin: 60px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin: 180px 0 0 655px;
  }
}


.slider__coffe-name {
  width: 280px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin: 4px auto 0;

  @media (min-width: $tablet-width) {
    width: 608px;
    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 4px 0 0 655px;
    text-align: start;
  }
}

.slider__coffe-description {
  width: 280px;
  margin: 10px auto 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 608px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 16px 0 0 655px;
    text-align: start;
  }
}

.slider__coffe-description > br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.slider__price {
  height: 40px;
  display: flex;
  width: 230px;
  margin: 20px auto 0;

  @media (min-width: $desktop-width) {
    margin: 40px 0 0 655px;
  }
}

.slider__line-container {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    height: 24px;
    width: 202px;
    position: absolute;
    top: 630px;
  }
}


.slider__line {
  width: 62px;
  height: 24px;
  padding: 10px 0;
  border: none;
  position: relative;
  background: none !important;
}

.slider__line::before {
  content: "";
  height: 4px;
  display: block;
  background-color: #ffffff;
}


.slider__line:hover > .slider__line::before {
  background-color: #000000;
}


.slider__line--curent::before {
  background-color: #7859cf;
}

.slider__line:hover::before {
  background-color: rgba(120, 89, 207, 0.25);
}

.slider__line:focus::before {
  background-color: rgba(120, 89, 207, 0.25);
}

.slider__line:active::before {
  background-color: #7859cf;
}

.slider__flat-white {
  background-color: #f3ebe1;
}

.slider__lavender {
  background-color: #eae6fc;
}

.slider__espresso {
  background-color: #e5e6e8;
}
