.user-list {
  order: 3;

  @media (min-width: $tablet-width) {
    order: 4;
    margin-right: 20px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    min-width: 240px;
    justify-content: space-between;
    height: 80px;
    margin-right: 60px;
  }
}

.user-list__item {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    min-width: 112px;
  }
}

.user-list__item:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.user-list__item:nth-child(2) {
  @media (min-width: $desktop-width) {
    width: 130px;
  }
}

.user-list__link {
  padding: 22px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    height: 16px;
    padding: 32px 0;
    text-decoration: none;
    width: 100%;
  }
}

.user-list__link:hover {
  background-color: #f0ebff;
}

.user-list__link:focus {
  outline: none;
  background-color: #f0ebff;
}

.user-list__link:active {
  background-color: #f0ebff;
}

.user-list__link > svg {
  @media (min-width: $desktop-width) {
    margin: auto 8px auto 0;
  }
}

.user-list__link:hover > svg path {
  fill: #7859cf;
}

.user-list__link:focus > svg path {
  fill: #7859cf;
}

.user-list__link > p {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    text-transform: uppercase;
    color: #333333;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }
}

.user-list__link:hover > p {
  color: #7859cf;
}

.user-list__link:focus > p {
  color: #7859cf;
}
